<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="_csrf" th:content="${_csrf.token}"/>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>THIS IS THE ADMIN PANEL</h1>
<h1>Image Upload</h1>

<div>
    <form id="uploadForm">
        <label for="image">Choose an image:</label>
        <input type="file" id="image" name="image" accept="image/*" onchange="previewImage()">
        <br>
        <img id="imagePreview" src="#" alt="Preview" style="max-width: 100%; max-height: 200px; display: none;">
        <br>
        <input type="submit" value="Upload">
    </form>


    <form id="fileUploadForm">
        <input type="file" name="file" id="fileInput" />
        <button type="button" onclick="uploadFile()">Upload File</button>
    </form>
</div>
<button onclick="createUser()">Create new user</button>
<script>
    function previewImage() {
        const fileInput = document.getElementById('image');
        const imagePreview = document.getElementById('imagePreview');

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            };

            reader.readAsDataURL(fileInput.files[0]);
        } else {
            imagePreview.src = '#';
            imagePreview.style.display = 'none';
        }
    }

    let csrfToken = document.querySelector('meta[name="_csrf"]').content;

    function uploadFile()
    {
        const fileInput = document.getElementById('fileInput');
        const file = fileInput.files[0];

        if(file)
        {
            const formData = new FormData();
            formData.append('file', file);

            fetch('http://localhost:8080/adminPanel?upload',{
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRF-TOKEN': csrfToken,
                }
            })

        }

    }
</script>
</body>
</html>